.takeback-btn{
    background: var(--dark-tile);
    color: black;
    padding: 5px 10px;
    margin: 10px;
    font-size: 1em;
    border: var(--light-tile) 5px solid ;
    font-weight: bold;
}

.takeback-btn:hover{
    box-shadow: 0 0 0 5px  var(--dark-tile) inset;
    transform: scale(1.11);
    cursor:pointer

}

.btn-container{
    display: flex;
    justify-content: start;
}

.download-btn{
    background: var(--dark-tile);
    padding: 5px 10px;
    margin: 10px;
    border: var(--light-tile) solid;
    height: 40px;
    width: 40px;
    background-image: url("../../../../public/assets/images/download_icon.png");
    background-size: cover;
}

.download-btn:hover{
    box-shadow: 0 0 0 5px  var(--dark-tile) inset;
    transform: scale(1.11);
    cursor:pointer

}
