.popup{
    position: absolute;
    top: 0;
    right: 0;
    left: calc(0.25*var(--tile-size));
    bottom: calc(0.25*var(--tile-size));
}

.popup-inner{
    width: 50%;
    min-height: 10%;
    background: var(--light-tile);
    position: absolute;
    border: 5px solid var(--light-tile);
    box-shadow: 0 0 0 5px var(--dark-tile);
    opacity: 0.8;
    border-radius: 25px;
}

.popup-inner-center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1em 0;
}

.popup-inner-center h1{
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
}

.popup-inner-center p{
    font-size: 1em;
    margin: 0 0 0.5em 0;
}

.popup-inner-center button{
    background: var(--dark-tile);
    color: var(--light-tile);
    border: 0 none;
    padding: 10px 30px;
    margin: 10px;
    font-size: 1em;
    opacity: 1;
}

.popup-inner-center button:hover{
    transform: scale(1.05);
    cursor: pointer;
}