#chessBoard{
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    background-color: whitesmoke;
    height: 640px;
    width: 640px;
    /* z-index: 0; */
}

#modal{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#modal.hide-modal{
    display: none;
}

#modal > .modal-body{
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 320px);
    width: 640px;
    height: 160px;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    /* z-index: 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modal > .modal-body > img{
    user-select: none;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
}

#modal > .modal-body > img:hover{
    user-select: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

