:root{
    --tile-size: 80px;
    --light-tile: #F0D9B5;
    --dark-tile: #B58863;
    --bg-color: #202020;
    --highlight: rgba(0,0,0,0.1);
    --check: #FEEC48;
}

@media all and (max-width: 450px) {
    :root {
      --tile-size: 50px;
    }
  }